﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts {

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ProductJavaScript.js")" type="text/javascript"></script>
    
}


<div>
    <br /><br />

@using (Ajax.BeginForm("ProductSearch", "Product",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnFailure = "searchFailed",
                    LoadingElementId = "ajax-loader",
                    UpdateTargetId = "searchresults",
                }))
{

    @Html.DropDownList("Categories", ViewBag.Categories as SelectList)

    @Html.DropDownList("Suppliers", ViewBag.Suppliers as SelectList)
    <input type="submit" value="search" />
    <img id="ajax-loader"
         src="@Url.Content("~/Content/Images/ajax-loader.gif")"
         style="display:none" />
}

    <div id="searchresults"></div>

</div>

