﻿@model IEnumerable<Object>
    @{ 
        IEnumerable<AjaxLab.Models.Product> pro = Model.First() as IEnumerable<AjaxLab.Models.Product>;
        string s = Model.Last() as string ;
    }

<div id="searchresults">
    

    @{
        <p>@s</p>
        <ul>
            @foreach (var item in pro)
            {
                <li>@item.ProductName</li>
            }
        </ul>
    }

    @if (pro.Count() == 0)
    {
        <h4 style="color: #ff0000">Not Found</h4>
    }
</div>
